body {
    margin: 0;
    margin-top: 200px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    line-height: 50px;
    background-image: url(./background.jpg);
    background-size: 100% 100%;
}

header * {
    display: inline;
}

header ul {
    padding: 0;
    float: right;
    padding-right: 10px;
}

header li {
    margin-left: 20px;
}

#left {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#right {
    margin-left: 5%;
    margin-top: 3%;
}

.profile-img {
    width: 300px;
}

nav {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: white;
    padding-left: 10px;
}

.name:hover {
    text-decoration: underline;
}

#wrapper {
    display: flex;
}

#left {
    flex: 0 0 50%;
    margin-top: 5%;
}

#right {
    flex: 1;
}

.about {
    text-align: center;
    padding-top: 5px;
    width: 60%;
    padding-left: 20%;
}

.logo-img {
    height: 25px;
    width: 25px;
}