<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>Silas Setterstrom</p>
      </div>
      <div class="footer-col">
        <p><a href="https://github.com/silassetterstrom">
            <img src="../images/GitHub.png" class="logo-img"></a>GitHub</p>
      </div>
      <div class="footer-col">
        <p>silas.setterstrom@gmail.com</p>
      </div>
      <div class="footer-col">
        <p><a href="https://www.linkedin.com/in/silassetterstrom/">
          <img src="../images/LinkedIn.png" class="logo-img"></a>LinkedIn</p>
      </div>
    </div>

  </div>

</footer>
